[user]
	name = Steven Wilkin
	email = stevenwilkin@gmail.com
[core]
	excludesfile = ~/.gitignore
[alias]
	ci = commit
	co = checkout
	st = status
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --color
[color]
	ui = true
